---
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 80
---
Language: Cpp
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
AlignConsecutiveMacros: true
IndentPPDirectives: BeforeHash
---